* {
    box-sizing: border-box;
  }
  
  /* Style the body */
  body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
  }

  button:focus {outline:0;}
  
  /* Header/logo Title */
  .header {
    padding: 80px;
    text-align: justify;
    background: #1abc9c;
    color: white;
    font-size: 20px;
  }
  
  /* Increase the font size of the heading */
  .header h1 {
    font-size: 40px;
    text-align: center;
  }
  
  .header button {
    background: none;
    color: white;
    text-align: center;
    text-decoration: none;
    border: hidden;
    border-radius: 4px;
  }

  .header button:hover {
    background-color: #ddd;
    color: black;
  }
  /* Style the top navigation bar */
  .navbar {
    overflow: hidden;
    background-color: lightblue;
  }
  
  /* Style the navigation bar links */
  .navbar button {
    float: left;
    display: block;
    color: black;
    text-align: center;
    padding: 14px 15px;
    text-decoration: none;
    background: grey;
    border: hidden;
  }
  
  /* Right-aligned link */
  .navbar button.right {
    float: right;
  }
  
  /* Change color on hover */
  .navbar button:hover {
    background-color: #ddd;
    color: black;
  }
  
  /* Column container */
  .row {  
    display: -ms-flexbox; /* IE10 */
    display: flex;
    -ms-flex-wrap: wrap; /* IE10 */
    flex-wrap: wrap;
  }
  
  /* Main column */
  #buyerOpt, #sellerOpt, #refund {   
    -ms-flex: 70%; /* IE10 */
    flex: 70%;
    background-color: white;
    padding: 20px;
    display: none;
  }
  
  
  /* Footer */
  #boxCommStatus {
    padding: 20px;
    text-align: center;
    background: #ddd;
  }
  
  /* Responsive layout - when the screen is less than 700px wide, make the two columns stack on top of each other instead of next to each other */
  @media screen and (max-width: 700px) {
    .row {   
      flex-direction: column;
    }
  }
  
  /* Responsive layout - when the screen is less than 400px wide, make the navigation links stack on top of each other instead of next to each other */
  @media screen and (max-width: 400px) {
    .navbar a {
      float: none;
      width: 100%;
    }
  }
